Specific CSS for your home-page

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.bigname {
  margin-top: 75px;
}

.bignamesecond, .bigname {
  display: flex;
  justify-content: center;
  font-size: 85px;
  -webkit-text-stroke: 1px whitesmoke;
  font-family: "Russo One", sans-serif;
  color: rgb(129, 107, 175);
  padding: 0px;
}

.description-ao {
  float: left;
  width: 50%;
  padding: 40px;
  color: whitesmoke;
  font-family: "Russo One", sans-serif;
  strong {
    color: black;
    -webkit-text-stroke: 0.7px rgb(129, 107, 175);
  }
}

.profile-image {
  float: right;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 60px;
  border: 4px solid rgb(129, 107, 175);
  object-fit:cover;
}

.profile-section {
  margin-bottom: 400px;
}

.aboutme {
  clear: both;
}

.certihome, .skillshome {
  font-size: 40px;
  -webkit-text-stroke: 1px whitesmoke;
  font-family: "Russo One", sans-serif;
  color: rgb(129, 107, 175);
}

.certihome{
  padding-left: 40px;
}

.skillshome {
  padding-right: 70px;
}

.additional-section {
  display: flex;
  justify-content: space-between;
}

.skills {
  ul {
    font-family: 'Nico Moji', sans-serif;
    color: whitesmoke;
    font-size:25px;
    padding-right: 85px;
  }
}

.footer {
  border-top: 1px solid whitesmoke;
  height: 120px;
  margin: 0 16px;
  display: flex;
  justify-content: space-evenly;
}
