nav {
  padding-top: 16px;
  background-color: transparent;
  /* Add more navbar styles as needed */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff; /* Change the color as needed */
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar-left ul,
.navbar-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-right ul {
  text-align: right;
}

.navbar-left ul li,
.navbar-right ul li {
  display: inline;
  margin-right: 10px;
}

.navbar-right ul li:last-child {
  margin-right: 0;
}

.contact-nb {
  padding-right: 23px;
}

.ao-nb {
  padding-left: 30px;
}

.project-nb {
padding-right: 20px;
}

.ao-nb, .project-nb, .contact-nb {
  font-size: 25px;
  font-family: 'Nico Moji', sans-serif;
  font-optical-sizing: auto;
}
